@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    box-sizing: border-box;
}
body{
    background-image: url(images/bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Inter', sans-serif;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 20px 80px 0 80px;
    color: white;
    backdrop-filter: blur(10px);
}
.container{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
li, a{
    text-decoration: none;
    list-style-type: none;
    color: white;
}
ul > li:hover{
    text-decoration: underline rgb(211, 191, 158) 2px;
    transition: 0.5s ease-in;
}
#ourNav{
    display: flex;
    gap: 30px;
    padding: 0;
}
.dropdown{
    display: none;
}
.inputSearch{
    position: relative;
}
input{
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    outline: none;
    background-color: transparent;
    color: white;
}
input::placeholder{
    color: white;
}
.welcome h1{
    font-size: 38px;
}
.welcome span{
    font-size: 18px;
}
.welcome p{
    font-size: 13px;
}
.inputSearch .fa{
    position: absolute;
    margin-left: -25px;
    top: 8px;
    cursor: pointer;
}
.input-box{
    position: relative;
}
.input-box input{
    border: none;
    border-bottom: 1px solid white;
    width: 100%;
    margin-bottom: 20px;
    height: 40px;
    font-size: 15px;
    width: 100%;
}
.input-box label{
    left: 0;
    position: absolute;
    padding: 10px;
    font-size: 20px;
    pointer-events: none;
    top: 0;
    transition: all 0.5s ease-out;

}
.input-box .fa{
    margin-top: -60px;
    float: right;
} 
.input-box input:focus ~ label,
.input-box input:not(:placeholder-shown) ~ label
{
    top: -20px;
    font-size: 18px;
}
.box{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 60px 0;
    background-image: url(images/bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
    padding: 30px;
}
.box i{
    padding: 10px;
}
.box-content{
    width: 40%;
}
.box-content p{
    font-weight: bold;
}
#sign-in{
    text-align: center;
    backdrop-filter: blur(15px);
    width: 40%;
    padding: 40px;
}
#sign-up{
    text-align: center;
    backdrop-filter: blur(15px);
    width: 40%;
    padding: 20px;
}
.forget-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.check{
    display: flex;
}
button{
    border: none;
    width: 100%;
    padding: 7px;
    background-color: papayawhip;
}
h2{
    margin-bottom: 80px;
}
h1 span{
    font-size: 23px;
}
.icons  a{
    margin-left: px;
}
.icons{
    margin: -10px;
    margin-top: 5px;
    display: flex;
}

@media screen and (max-width: 770px) {
    body{
        height: 150vh;
    }
    .box-content{
        width: 100%;
        text-align: center;
        padding: 20px;
    }
    #sign-in,#sign-up{
            width: 100%;
    }
}
@media screen and (max-width: 690px) {
    li{
        display: none;
    }
    .inputSearch input{
        margin-left: -240px;
    }

    .dropdown{
        display: block;
        overflow: hidden;
    }
    .dropdown-content{
        display: none;
        position: absolute;
        z-index: 1;
        right: 40px;
    }
    .dropdown-content li, a{
        padding: 3px 10px;
        display: block;
        margin-right: -20px;
    }
    .dropdown:hover .dropdown-content{
        display: block;
    }
}
@media screen and (max-width: 855px) {
    body{
        padding: 10px 30px 0 30px;
    }
    body{
        height: 170vh;
        padding: 10px 60px 0 60px;
    }
    .icons{
        justify-content: center;
    }
}
@media screen and (max-width: 640px) {
    .inputSearch input{
        margin-left: -150px;
    }
    body{
        height: 155vh;
        padding: 10px 60px 0 60px;
    }
}
@media screen and (max-width: 480px) {
    .inputSearch input{
        margin-left: -68px;
        width: 80%;
    }
    body{
        height: 150vh;
        padding: 10px 40px 0 40px;
    }
        .dropdown-content{
        display: none;
        position: absolute;
        z-index: 1;
        right: 30px;
        top: 60px;
    }
    ul{
        display: flex;
    }
    .dropdown-content li, a{
        padding: 3px 12px;
        margin-right: -20px;
    }
    .dropdown:hover .dropdown-content{
        display: block;
    }
}
@media screen and (max-width: 410px) {
    .inputSearch input{
        margin-left: -68px;
        width: 80%;
    }
    body{
        height: 150vh;
        padding: 10px 20px 0 20px;
    }
}
@media screen and (max-width: 360px) {
    .inputSearch input{
        margin-left: -68px;
        width: 80%;
    }
    body{
        height: 160vh;
        padding: 10px 20px 0 20px;
    }
}